<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Mini[Max] Games: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <!-- Nav bar with bootstrap -->
        <nav class="custom-navbar border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="mini">Mini</span><span class="max">[Max]</span><span class="games"> Games</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><span class="signature">By Noah Tavis</span></li>
                    </ul>
                </div>
            </div>
        </nav> 

        {% block about %}{% endblock %}

        {% block resources %}{% endblock %}

        {% block game %}{% endblock %}

        <!-- Because the format of main was always specified after I made the
         game cards, I decided to have seperate game layouts. This gets disabled
         if "remove_main" is in session; effectively, when a game is in session,
         don't make a scrollbar for some invisible main object -->
        {% if "remove_main" not in session %}
            <main class="container py-5 text-center">
                {% block main %}{% endblock %}
            </main>
        {% endif %}

    </body>

</html>
